{% extends "tracker/base.html" %}
<!--TODO: IN DEPTH ANALYSIS ON DEMAND DATA-->
<!-- +From which departments, so we need pie charts here-->
<!-- IF WE CAN EXTRACT MORE DATA FROM AMIS/SAIS? -->

{% block title %} {{course.course_title}} {% endblock %} {% load
crispy_forms_tags %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container" id="catalog-container">
  <div class="column">
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded">
      <div class="row p-3">
        <div class="col"><b> Course Title: </b> {{course.course_title}}</div>
        <div class="col"><b>Demand:</b> {{users|length}}</div>
        <div class="col">
          {%if course.is_elective %} Elective {% else %} Not Elective {% endif
          %}
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <b>Course Description</b> {{course.course_description}}
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-5 shadow bg-white rounded">
    <div class="row p-2">
      <div class="col">
        <canvas
          id="degreeProgramsChart"
          style="width: 50%; height: 50%"
        ></canvas>
      </div>
      <div class="col">
        <canvas id="demandBreakdown" style="width: 50%; height: 50%"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    Chart.plugins.register({
        afterDraw: function(chart) {
        if (chart.data.datasets.length === 0) {
            // No data is present
          var ctx = chart.chart.ctx;
          var width = chart.chart.width;
          var height = chart.chart.height
          chart.clear();

          ctx.save();
          ctx.textAlign = 'center';
          ctx.textBaseline = 'middle';
          ctx.font = "16px normal 'Helvetica Nueue'";
          ctx.fillText('No data to display', width / 2, height / 2);
          ctx.restore();
        }
      }
    });
  </script>
  <script>
    const ctx = document.getElementById("degreeProgramsChart");
    const breakdownData = {{breakdown | safe}};
    const labels = Object.keys(breakdownData);
    const data = Object.values(breakdownData);
        new Chart(ctx, {
        type: "doughnut",
        data: {
            labels: labels,
            datasets: [
            {
                label: "Demand Breakdown",
                data: data,
                borderWidth: 1,
            },
            ],
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Degree Programs',
                    font: {
                        size: 16
                    }
                },
                legend: {
                    position: 'left' // or 'right'
                }
            }
        }
        });
  </script>
  <script>
    const ctx2 = document.getElementById("demandBreakdown");
    const labels2 = ['First Prio', 'Second Prio', 'Third Prio', 'Fourth Prio' ];
    const data2 = [{{course.first_prio}}, {{course.second_prio}}, {{course.third_prio}}, {{course.fourth_prio}}];
    new Chart(ctx2, {
      type: "doughnut",
      data: {
        labels: labels2,
        datasets: [
          {
            label: "Demand Breakdown",
            data: data2,
            borderWidth: 1,
          },

        ],
      },
      options: {
        plugins: {
            title: {
                display: true,
                text: 'Priority Breakdown',
                font: {
                    size: 16
                }
            },
            legend: {
                position: 'right' // or 'right'
            }
        }
    }
    });
  </script>
  {% endblock %}
</div>
