{% extends "tracker/base.html" %}
{% block title %}Subjects{% endblock %}
{% block content %}

<body>
    <div class="container-fluid" id='catalog-container'>
        <div class="container-fluid" id='catalog-container'>
            <div class="jumbotron">
                <p class="lead">This page contains reports uploaded by the administrator of the site. Or any pertinent information they decide to upload. Click on the link on the left-most column to download the report.</p>
            </div>
        <h1>Reports</h1>
        <table id="reports_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Report</th>
                    <th class="text-center">Academic Year</th>
                    <th class="text-center">Semester</th>
                    <th class="text-center">Upload Date</th>
                    <!-- Add additional columns if needed -->
                </tr>
            </thead>
            <tbody>
                {% for report in report_list %}
                <tr data-id ="{{ report.id }}">
                    <td align='center'><a href="/download-pdf/?file_name={{ report.pdf_file }}" target="_blank">{{ report.title}}</a></td>
                    <td align='center'>{{report.description}}</td>
                    <td align='center'>{{report.academic_year}}</td>
                    <td align='center'>{{report.semester}}</td>
                    <td align='center'>{{report.upload_time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
</body>
</html>